@model IEnumerable<DeviceListingViewModel>

@{
    ViewData["Title"] = "Air Conditioners";
}

<h1 class=" text-center display-4">Air Conditioners</h1>
<br />
<form class="" asp-action="AllAirConditioners" asp-controller="Device">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="Brand" id="option2" autocomplete="off">
                        <i class="fas fa-sort-alpha-up"></i> A-Z
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="BrandByDescending" id="option2" autocomplete="off">
                        <i class="fas fa-sort-alpha-down-alt"></i> Z-A
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="Price" id="option3" autocomplete="off"> Price <i class="fas fa-arrow-up"></i>
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="PriceByDescending" id="option3" autocomplete="off"> Price <i class="fas fa-arrow-down"></i>
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="default" id="option3" autocomplete="off"> Default
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-info"><i class="fas fa-sort"></i> Sort Air Conditioners</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.worldvectorlogo.com/logos/haier-logo.svg" width="150" />
                <br />
            </div>
            <div class="col text-center">
                <img src="https://cdn.worldvectorlogo.com/logos/beko-1.svg" width="150" />
                <br />
            </div>
            <div class="col text-center">
                <img src="https://cdn.worldvectorlogo.com/logos/bosch.svg" width="150" />
                <br />
            </div>
            <div class="col text-center" style="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Panasonic_logo_%28Blue%29.svg/1280px-Panasonic_logo_%28Blue%29.svg.png" width="150" />
                <br />
            </div>
        </div>
    </div>
    <div class=" container">
        <div class="row">
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Haier" />
            </div>
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Beko" />
            </div>
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Bosch" />
            </div>
            <div class="col text-center" style="">

                <input type="checkbox" name="sortType" value="Panasonic" />

            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-info"><i class="fas fa-filter"></i> Filter Air Conditoners</button>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="row mx-auto container" align="center">

    @foreach (var ac in Model)
    {
        <div class="card border-bottom box-shadow mb-4 col-md-4" style="width: 18rem;">
            <div class="container" id="imgContainer">
                <img class="card-img-top col-md-10" id="image" src="@ac.Image">
                <div class="overlay bg-dark card">
                    <div class="text">
                        Warranty @ac.Warranty months
                        <br />
                        <br />
                        <a class="btn btn-outline-info" asp-action="AirConditionerDetails" asp-controller="Device" asp-route-id="@ac.Id"><i class="fas fa-info-circle"></i>  View More</a>
                    </div>
                </div>
            </div>
            <h4>@ac.Brand @ac.DeviceModel</h4>
            <p><i class="fas fa-dollar-sign btn-outline-info"></i> @ac.Price</p>
        </div>
    }
</div>