@model IEnumerable<DeviceListingViewModel>

@{
    ViewData["Title"] = "Mobile Phones";
}

<h1 class=" text-center display-4">Mobile Phones</h1>
<br />
<form class="" asp-action="AllMobilePhones" asp-controller="Device">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="Brand" id="option2" autocomplete="off">
                        <i class="fas fa-sort-alpha-up"></i> A-Z
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="BrandByDescending" id="option2" autocomplete="off">
                        <i class="fas fa-sort-alpha-down-alt"></i> Z-A
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="Price" id="option3" autocomplete="off"> Price <i class="fas fa-arrow-up"></i>
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="PriceByDescending" id="option3" autocomplete="off"> Price <i class="fas fa-arrow-down"></i>
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="default" id="option3" autocomplete="off"> Default
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-info"><i class="fas fa-sort"></i> Sort Mobile Phones</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.worldvectorlogo.com/logos/iphone-logo-2016.svg" width="150" />
                <br />
            </div>
            <div class="col text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Samsung_Logo.svg/1280px-Samsung_Logo.svg.png" width="150" />
                <br />
            </div>
            <div class="col text-center">
                <img src="https://www.formula.fo/wp-content/uploads/2019/10/HW_POS_RGB_Horizontal-150ppi-B-1.png" width="150" />
                <br />
            </div>
        </div>
    </div>
    <div class=" container">
        <div class="row">
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Iphone" />
            </div>
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Samsung" />
            </div>
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Huawei" />
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-info"><i class="fas fa-filter"></i> Filter Mobile Phones</button>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="row mx-auto container" align="center">

    @foreach (var mobilePhone in Model)
    {
        <div class="card border-bottom box-shadow mb-4 col-md-4" style="width: 18rem;">
            <div class="container" id="imgContainer">
                <img class="card-img-top col-md-10" id="image" src="@mobilePhone.Image">
                <div class="overlay bg-dark card">
                    <div class="text">
                        Warranty @mobilePhone.Warranty months
                        <br />
                        <br />
                        <a class="btn btn-outline-info" asp-action="MobilePhoneDetails" asp-controller="Device" asp-route-id="@mobilePhone.Id"><i class="fas fa-info-circle"></i>  View More</a>
                    </div>
                </div>
            </div>
            <h4>@mobilePhone.Brand @mobilePhone.DeviceModel</h4>
            <p><i class="fas fa-dollar-sign btn-outline-info"></i> @mobilePhone.Price</p>
        </div>
    }
</div>

