@model IEnumerable<DeviceListingViewModel>

@{
    ViewData["Title"] = "Monitors";
}

<h1 class=" text-center display-4">Monitors</h1>
<br />
<form class="" asp-action="AllMonitors" asp-controller="Device">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="Brand" id="option2" autocomplete="off">
                        <i class="fas fa-sort-alpha-up"></i> A-Z
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="BrandByDescending" id="option2" autocomplete="off">
                        <i class="fas fa-sort-alpha-down-alt"></i> Z-A
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="Price" id="option3" autocomplete="off"> Price <i class="fas fa-arrow-up"></i>
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="PriceByDescending" id="option3" autocomplete="off"> Price <i class="fas fa-arrow-down"></i>
                    </label>
                    <label class="btn btn-outline-info">
                        <input type="radio" name="sortType" value="default" id="option3" autocomplete="off"> Default
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-info"><i class="fas fa-sort"></i> Sort Monitors</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="https://1000logos.net/wp-content/uploads/2016/10/Asus-Logo.png" width="150" />
                <br />
            </div>
            <div class="col text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/BenQ-Logo.svg/1200px-BenQ-Logo.svg.png" width="150" />
                <br />
            </div>
            <div class="col text-center">
                <img src="https://cdn.worldvectorlogo.com/logos/acer-2011.svg" width="150" />
                <br />
            </div>
            <div class="col text-center" style="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Dell_Logo.png" width="100" />
                <br />
            </div>
        </div>
    </div>
    <div class=" container">
        <div class="row">
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Asus" />
            </div>
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="BenQ" />
            </div>
            <div class="col text-center">
                <input type="checkbox" name="sortType" value="Acer" />
            </div>
            <div class="col text-center" style="">

                <input type="checkbox" name="sortType" value="Dell" />

            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-info"><i class="fas fa-filter"></i> Filter Monitors</button>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="row mx-auto container" align="center">

    @foreach (var monitor in Model)
    {
        <div class="card border-bottom box-shadow mb-4 col-md-4" style="width: 18rem;">
            <div class="container" id="imgContainer">
                <img class="card-img-top col-md-10" id="image" src="@monitor.Image">
                <div class="overlay bg-dark card">
                    <div class="text">
                        Warranty @monitor.Warranty months
                        <br />
                        <br />
                        <a class="btn btn-outline-info" asp-action="MonitorDetails" asp-controller="Device" asp-route-id="@monitor.Id"><i class="fas fa-info-circle"></i>  View More</a>
                    </div>
                </div>
            </div>
            <h4>@monitor.Brand @monitor.DeviceModel</h4>
            <p><i class="fas fa-dollar-sign btn-outline-info"></i> @monitor.Price</p>
        </div>
    }
</div>

